{% extends '_base.html' %}  

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    
    {% trans "Post Details" %}

{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3 p-5">
                    <h1>{{ post.title }}</h1>
                    <p class="small text-muted mt-2">{% trans "author:" %} {{ post.author }}</p>
                    <p class="mt-2">{{ post.text }}</p>
                    <p>
                        {% if post.user == user %}
                            <a href="{% url "blog_update" post.id %}" class="btn btn-warning">{% trans "Edit" %}</a> 
                            <a href="{% url "blog_delete" post.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
                        {% endif %}
                    </p> 
                </div>
                
                <div class="card shadow my-3 p-5">
                    <h3>{% trans "Comments:" %}</h3>
                        {% if post.comments.all %}
                            {% for comment in post.comments.all %}
                                <p> {{ comment.author.username }} </p>
                                <p> {{ comment.body }} </p>
                            {% endfor %}
                        {% else %}
                            {% trans "No comments yet! Be the first one." %}
                        {% endif %}
                </div>
            
                <div class="card shadow my-3 p-5">
                    <h3>{% trans "Add new comment:"%}</h3>
                    <form method="POST" action="{% url 'comment_create' post.id %}">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        {% comment %} 
                            <div class="form-group py-2">
                                <label class="py-1" for="author_name">{% trans "Enter your name:"%}</label>
                                <input type="text" class="form-control" placeholder="e.g. John Doe" name="author_name">
                            </div>
                            <div class="form-group py-2">
                                <label class="py-1" for="email">{% trans "Your Email"%}:</label>
                                <input type="email" class="form-control" placeholder="example@gmail.com" name="email">
                            </div>
                            <div class="form-group py-2">
                                <label class="py-1" for="comment_text">{% trans "Comment text"%}:</label>
                                <textarea class="form-control" name="text" rows="3" placeholder="Enter your comment text here..."></textarea>
                            </div>
                        {% endcomment %}
                        <button type="submit" class="btn btn-primary">{% trans "Submit"%}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}